.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board {
  position: relative;
  width: 600px;
  height: 600px;
  border: 2px solid black;
}

.snake {
  position: absolute;
  width: 3%;
  height: 3%;
  border: 1px solid white;
  background-color: black;
  z-index: 2;
}

.snake-head {
  position: absolute;
  width: 3%;
  height: 3%;
  border: 4px solid black;
  background-color: white;
  z-index: 2;
}

.food {
  position: absolute;
  width: 3%;
  height: 3%;
  border: 1px solid white;
  background-color:red;
  z-index: 1;
}

.game-over-board {
  text-align: center;
}

.font {
  font-family: 'Press Start 2P', cursive !important;
}


.font-2 {
  font-family: 'Montserrat', sans-serif !important;
}

.arrow {
  font-size: 20px;
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 6px;
  background-color: lightgray;
}


